<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>   
    <input type="text" name="name" id="name">
</div>
<div>   
    <input type="text" name="pwd" id="pwd">
</div>
<div>
    <button onclick="subData()"></button>
</div>
<script src="/static/jquery.min.js"></script>
<script>
    function subData(){
        var name=$('#name').val();
        var pwd=$('#pwd').val();
        $.ajax({
            method:"POST",
            dataType:"JSON",
            data:JSON.stringify({
                name:name,
                pwd:pwd
            }),
            success:function(res){
                console.log(res)
            },
            error:function(err){
                console.log(err)
            }
        })
    }
</script>
</body>
</html>